---
- name: Configure Aerospace CFD Workstation
  hosts: all
  become: yes
  vars:
    # NEW: "Always Latest" URL (Corrected domain typo here)
    dcv_url: "https://d1uj6qtbmh3dt5.cloudfront.net/nice-dcv-ubuntu2204-x86_64.tgz"

  tasks:
    # ----------------------------------------------------------------
    # 0. MOUNT PERSISTENT DATA (The Backpack)
    # ----------------------------------------------------------------
    - name: Create data directory
      file:
        path: /data
        state: directory
        mode: '0777'

    - name: Format the volume (Only runs once, ever!)
      filesystem:
        fstype: ext4
        dev: /dev/nvme1n1
      ignore_errors: yes

    - name: Mount volume
      mount:
        path: /data
        src: /dev/nvme1n1
        fstype: ext4
        state: mounted

    # ----------------------------------------------------------------
    # 1. SYSTEM PREP & DRIVERS
    # ----------------------------------------------------------------
    - name: Update apt cache and upgrade system
      apt:
        update_cache: yes
        upgrade: dist
      register: apt_action
      retries: 5
      delay: 10

    - name: Install essential tools
      apt:
        name:
          - build-essential
          - awscli
          - wget
          - curl
          - mesa-utils
          - ubuntu-drivers-common
        state: present

    - name: Auto-install recommended NVIDIA drivers
      command: ubuntu-drivers autoinstall
      register: drivers_result
      changed_when: "'No drivers found' not in drivers_result.stdout"
      ignore_errors: yes

    # ----------------------------------------------------------------
    # 2. DESKTOP ENVIRONMENT (XFCE)
    # ----------------------------------------------------------------
    - name: Install XFCE Desktop
      apt:
        name:
          - xfce4
          - xfce4-goodies
          - xorg
          - dbus-x11
          - x11-xserver-utils
        state: present

    # ----------------------------------------------------------------
    # 3. OPENFOAM
    # ----------------------------------------------------------------
    - name: Add OpenFOAM Repository
      shell: |
        wget -q -O - https://dl.openfoam.com/add-debian-repo.sh | bash
      args:
        creates: /etc/apt/sources.list.d/openfoam.list

    - name: Install OpenFOAM (Latest) and ParaView
      apt:
        name: openfoam2312-default
        update_cache: yes
        state: present

    - name: Add OpenFOAM environment to .bashrc
      lineinfile:
        path: /home/ubuntu/.bashrc
        line: "source /usr/lib/openfoam/openfoam2312/etc/bashrc"
        create: yes

    # ----------------------------------------------------------------
    # 4. NICE DCV (Remote Desktop Server)
    # ----------------------------------------------------------------
    - name: Create DCV download directory
      file:
        path: /tmp/dcv
        state: directory

    - name: Download NICE DCV (Latest)
      unarchive:
        src: "{{ dcv_url }}"
        dest: /tmp/dcv
        remote_src: yes
        extra_opts: [--strip-components=1]

    # We use wildcards (*) because the version number changes automatically
    - name: Install NICE DCV Server
      shell: apt install -y /tmp/dcv/nice-dcv-server_*.deb

    - name: Install DCV Web Viewer
      shell: apt install -y /tmp/dcv/nice-dcv-web-viewer_*.deb

    # ----------------------------------------------------------------
    # 5. USER CONFIGURATION
    # ----------------------------------------------------------------
    - name: Set password for 'ubuntu' user
      user:
        name: ubuntu
        password: "{{ desktop_password_hash }}"
        shell: /bin/bash

    - name: Create a 'Simulation_Runs' folder on Desktop
      file:
        path: /home/ubuntu/Desktop/Simulation_Runs
        state: directory
        owner: ubuntu
        group: ubuntu

    # ----------------------------------------------------------------
    # 6. FINAL REBOOT
    # ----------------------------------------------------------------
    - name: Reboot to apply drivers and start DCV
      reboot:
        msg: "Rebooting to load NVIDIA drivers and DCV"
        connect_timeout: 5
        reboot_timeout: 300
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: whoami