---
- name: Configure Aerospace CFD Workstation
  hosts: all
  become: yes
  vars:
    desktop_password: "aerospace-student"
    dcv_url: "https://d1uj6qtbmh3dt5.cloudfront.net/nice-dcv-ubuntu2204-x86_64.tgz"

  tasks:
    # ----------------------------------------------------------------
    # 1. NETWORK & FIREWALL (The "Anti-Lockout" Step)
    # ----------------------------------------------------------------
    - name: Force allow Port 8443
      command: ufw allow 8443/tcp
      ignore_errors: yes

    - name: Disable UFW entirely (Just to be safe)
      service:
        name: ufw
        state: stopped
        enabled: no

    - name: Flush iptables
      command: iptables -F

    # ----------------------------------------------------------------
    # 2. MOUNT STORAGE
    # ----------------------------------------------------------------
    - name: Create data directory
      file:
        path: /data
        state: directory
        mode: '0777'

    - name: Format volume
      filesystem:
        fstype: ext4
        dev: /dev/nvme1n1
      ignore_errors: yes

    - name: Mount volume
      mount:
        path: /data
        src: /dev/nvme1n1
        fstype: ext4
        state: mounted

    # ----------------------------------------------------------------
    # 3. INSTALL DESKTOP & SWITCH TO LIGHTDM (Crucial for C5)
    # ----------------------------------------------------------------
    - name: Update apt cache
      apt:
        update_cache: yes
      retries: 5
      delay: 10

    - name: Install Desktop, Fake Monitor, and LightDM
      apt:
        name:
          - xfce4
          - xfce4-goodies
          - xorg
          - dbus-x11
          - x11-xserver-utils
          - xserver-xorg-video-dummy
          - lightdm  # <--- NEW: More stable than GDM3
        state: present

    # This file tricks the computer into thinking a monitor is plugged in
    - name: Create Xorg config for Fake Monitor
      copy:
        dest: /etc/X11/xorg.conf
        content: |
          Section "Device"
              Identifier  "Configured Video Device"
              Driver      "dummy"
              VideoRam    256000
          EndSection

          Section "Monitor"
              Identifier  "Configured Monitor"
              HorizSync 31.5-48.5
              VertRefresh 50-70
          EndSection

          Section "Screen"
              Identifier  "Default Screen"
              Monitor     "Configured Monitor"
              Device      "Configured Video Device"
              DefaultDepth 24
              SubSection "Display"
              Depth 24
              Modes "1920x1080"
              EndSubSection
          EndSection

    - name: Ensure LightDM is the default display manager
      shell: |
        echo "/usr/sbin/lightdm" > /etc/X11/default-display-manager
        dpkg-reconfigure -f noninteractive lightdm

    # ----------------------------------------------------------------
    # 4. OPENFOAM
    # ----------------------------------------------------------------
    - name: Add OpenFOAM Repo
      shell: wget -q -O - https://dl.openfoam.com/add-debian-repo.sh | bash
      args:
        creates: /etc/apt/sources.list.d/openfoam.list

    - name: Install OpenFOAM
      apt:
        name: openfoam2312-default
        state: present

    - name: Add to bashrc
      lineinfile:
        path: /home/ubuntu/.bashrc
        line: "source /usr/lib/openfoam/openfoam2312/etc/bashrc"
        create: yes

    # ----------------------------------------------------------------
    # 5. NICE DCV (Remote Desktop)
    # ----------------------------------------------------------------
    - name: Create DCV folder
      file:
        path: /tmp/dcv
        state: directory

    - name: Download DCV
      unarchive:
        src: "{{ dcv_url }}"
        dest: /tmp/dcv
        remote_src: yes
        extra_opts: [--strip-components=1]

    - name: Install DCV Server
      shell: apt install -y /tmp/dcv/nice-dcv-server_*.deb

    - name: Install DCV Web Viewer
      shell: apt install -y /tmp/dcv/nice-dcv-web-viewer_*.deb

    # ----------------------------------------------------------------
    # 6. USER & PASSWORD
    # ----------------------------------------------------------------
    - name: Set Password
      user:
        name: ubuntu
        password: "{{ desktop_password_hash }}"
        shell: /bin/bash

    - name: Create Simulation Folder
      file:
        path: /home/ubuntu/Desktop/Simulation_Runs
        state: directory
        owner: ubuntu
        group: ubuntu

    # ----------------------------------------------------------------
    # 7. FINAL STARTUP
    # ----------------------------------------------------------------
    - name: Enable DCV Service
      service:
        name: dcvserver
        enabled: yes
        state: started

    - name: Create DCV Session (Force start)
      command: dcv create-session --type console --owner ubuntu console
      ignore_errors: yes

    # We do NOT reboot here anymore.
    # Rebooting kills the manual session we just created.
    # Instead, we just restart the display manager.
    - name: Restart Display Manager
      service:
        name: lightdm
        state: restarted