---
- name: Configure Aerospace CFD Workstation
  hosts: all
  become: yes
  vars:
    desktop_password: "aerospace-student"
    dcv_url: "https://d1uj6qtbmh3dt5.cloudfront.net/nice-dcv-ubuntu2204-x86_64.tgz"

  tasks:
    # ----------------------------------------------------------------
    # 0. SECURITY & NETWORK (Fixing Timeouts)
    # ----------------------------------------------------------------
    - name: Disable UFW Firewall (Force open ports)
      service:
        name: ufw
        state: stopped
        enabled: no

    - name: Flush iptables (Clear any hidden blocks)
      command: iptables -F

    # ----------------------------------------------------------------
    # 1. MOUNT PERSISTENT DATA
    # ----------------------------------------------------------------
    - name: Create data directory
      file:
        path: /data
        state: directory
        mode: '0777'

    - name: Format the volume
      filesystem:
        fstype: ext4
        dev: /dev/nvme1n1
      ignore_errors: yes

    - name: Mount volume
      mount:
        path: /data
        src: /dev/nvme1n1
        fstype: ext4
        state: mounted

    # ----------------------------------------------------------------
    # 2. SYSTEM PREP & "FAKE MONITOR" DRIVER
    # ----------------------------------------------------------------
    - name: Update apt cache
      apt:
        update_cache: yes
      retries: 5
      delay: 10

    - name: Install essential tools and DUMMY driver
      apt:
        name:
          - build-essential
          - awscli
          - wget
          - curl
          - mesa-utils
          - ubuntu-drivers-common
          - xserver-xorg-video-dummy  # <--- CRITICAL FOR C5 INSTANCES
        state: present

    - name: Create Xorg config for Fake Monitor
      copy:
        dest: /etc/X11/xorg.conf
        content: |
          Section "Device"
              Identifier  "Configured Video Device"
              Driver      "dummy"
              VideoRam    256000
          EndSection

          Section "Monitor"
              Identifier  "Configured Monitor"
              HorizSync 31.5-48.5
              VertRefresh 50-70
          EndSection

          Section "Screen"
              Identifier  "Default Screen"
              Monitor     "Configured Monitor"
              Device      "Configured Video Device"
              DefaultDepth 24
              SubSection "Display"
              Depth 24
              Modes "1920x1080"
              EndSubSection
          EndSection

    # ----------------------------------------------------------------
    # 3. DESKTOP & OPENFOAM
    # ----------------------------------------------------------------
    - name: Install XFCE Desktop
      apt:
        name:
          - xfce4
          - xfce4-goodies
          - xorg
          - dbus-x11
          - x11-xserver-utils
        state: present

    - name: Add OpenFOAM Repository
      shell: |
        wget -q -O - https://dl.openfoam.com/add-debian-repo.sh | bash
      args:
        creates: /etc/apt/sources.list.d/openfoam.list

    - name: Install OpenFOAM and ParaView
      apt:
        name: openfoam2312-default
        state: present

    - name: Add OpenFOAM environment to .bashrc
      lineinfile:
        path: /home/ubuntu/.bashrc
        line: "source /usr/lib/openfoam/openfoam2312/etc/bashrc"
        create: yes

    # ----------------------------------------------------------------
    # 4. NICE DCV
    # ----------------------------------------------------------------
    - name: Create DCV download directory
      file:
        path: /tmp/dcv
        state: directory

    - name: Download NICE DCV (Latest)
      unarchive:
        src: "{{ dcv_url }}"
        dest: /tmp/dcv
        remote_src: yes
        extra_opts: [--strip-components=1]

    - name: Install NICE DCV Server
      shell: apt install -y /tmp/dcv/nice-dcv-server_*.deb

    - name: Install DCV Web Viewer
      shell: apt install -y /tmp/dcv/nice-dcv-web-viewer_*.deb

    # ----------------------------------------------------------------
    # 5. USER CONFIGURATION
    # ----------------------------------------------------------------
    - name: Set password for 'ubuntu' user
      user:
        name: ubuntu
        password: "{{ desktop_password_hash }}"
        shell: /bin/bash

    - name: Create Simulation_Runs folder
      file:
        path: /home/ubuntu/Desktop/Simulation_Runs
        state: directory
        owner: ubuntu
        group: ubuntu

    # ----------------------------------------------------------------
    # 6. FINAL REBOOT
    # ----------------------------------------------------------------
    - name: Reboot to apply drivers
      reboot:
        msg: "Rebooting"
        connect_timeout: 5
        reboot_timeout: 300
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: whoami